footer>img.logo{
  display: none;
}

footer {
    /* display: none; */
    background-color: #cccccc;
    color: #161b1d;
}

#resizer {
    background-color: #cccccc;
}

.lnb h3, .lnb .lnb-api h3 a{
  color:#c6c4dc;
}

.lnb .lnb-api h3 a:hover {
    color: #1905f7;
}